<form action="/api/register" method="post">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="insert yout username">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="insert yout username">
    <br>

    <button type="submit">Register</button>
</form>